<h2>Dropdownlist (aka <code>&lt;select&gt;</code>)</h2>
<ng-content></ng-content>
<h3>Uncategorized Options</h3>
<select class="uncategorized">
  @for (option of options(); track option) {
  <option>{{ option.text }}</option>
  }
</select>

<h3>Grouped Options</h3>
<select class="grouped">
  @for (group of groupedOptions(); track group) {
  <optgroup label="{{ group.category }}">
    <legend>{{ group.category }}</legend>
    @for (option of group.options; track option) {
    <option>{{ option.text }}</option>
    }
  </optgroup>
  }
</select>
